<template>
  <div>
    <v-app-bar app color="accent" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Moja jazykovka Logo"
          class="shrink mr-2"
          contain
          :src="require('@/assets/images/logo.png')"
          transition="scale-transition"
          width="40"
        />

        <div id="links">
          <!-- Prepisat na {name: ....} notacie a zachytit chybu-->
          <router-link :to="{name: 'Home', params: { lang: $i18n.locale, id: db.auth().currentUser.uid }}" >{{$t('navbar.home')}}</router-link>
          <router-link :to="{name: 'Administration', params: { lang: $i18n.locale, id: db.auth().currentUser.uid }}" >{{$t('navbar.administration')}}</router-link>
          
        </div>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        color="white"
        text
        icon
        @click="changeSettingsState"
      >
        <v-icon>mdi-cog</v-icon>
      </v-btn>
    </v-app-bar>

    <settings :showSettings="showSettings" :sheetHeight="'max(30vh, 200px)'" @hideSettings="changeSettingsState"/>
  </div>
</template>

<script>
import Settings from './Settings';
import {db} from '../../firebase';

export default {
  data: () => ({
    showSettings: false,
    db,
  }),

  components: {
    Settings
  },

  methods: {
    changeSettingsState () {
      this.showSettings = !this.showSettings;
    },
  },
}
</script>

<style lang="scss">
#links a {
  font-family: unquote('Roboto');
  font-size: max(1vw, 14px);
  text-decoration: none;
  font-weight: 300;
  padding: 0 .5vw;
  color: white;
}

#links a.router-link-exact-active {
  color: #F26419;
}
</style>