<template>
    <v-row justify="center">
        <v-btn
            :width="iconSize"
            :height="iconSize"
            :disabled="currentLocal=='sk'"
            @click="changeLanguage('sk')"
            target="_blank"
            class="mx-4 white--text"
            icon
            aria-label="sk">
            <v-img
                v-if="$i18n.locale === 'sk'"
                alt="SK flag"
                class="shrink mr-2"
                contain
                :src="require('@/assets/images/sk_active.png')"
                transition="scale-transition"
                :width="iconSize"/>
            <v-img
                v-else
                alt="SK flag"
                class="shrink mr-2"
                contain
                :src="require('@/assets/images/sk_inactive.png')"
                transition="scale-transition"
                :width="iconSize"/>
        </v-btn>

        <v-btn
            :width="iconSize"
            :height="iconSize"
            :disabled="currentLocal=='en'"
            @click="changeLanguage('en')"
            target="_blank"
            class="mx-4 white--text"
            icon
            aria-label="en">
            <v-img
                v-if="$i18n.locale === 'en'"
                alt="EN flag"   
                class="shrink mr-2"
                contain
                :src="require('@/assets/images/en_active.png')"
                transition="scale-transition"
                :width="iconSize"/>
            <v-img
                v-else
                alt="EN flag"   
                class="shrink mr-2"
                contain
                :src="require('@/assets/images/en_inactive.png')"
                transition="scale-transition"
                :width="iconSize"/>
        </v-btn>

        <v-btn
            @click="changeTheme"
            target="_blank"
            class="mx-4"
            :color="iconColor"
            icon
            aria-label="theme"
            >
            <v-icon :size="themeSize">
                mdi-theme-light-dark
            </v-icon>
        </v-btn>
    </v-row>
</template>

<script>
  export default {
    data: () => ({
        currentLocal: '',
    }),

    props: {
        'iconSize': {
            type: String,
            default: "12",
            required: true
        },

        'themeSize': {
            type: String,
            default: "12",
            required: true
        },

        'iconColor': {
            type: String,
            default: 'secondary',
            required: false,
        }
    },

    created() {
        this.currentLocal = this.$i18n.locale;
    },

    methods: {
        changeLanguage (lang) {
            this.currentLocal = lang;
            this.$i18n.locale = lang;

            this.$router.push({
                params: {lang: lang}
            });
            
            this.$emit('langChange');
        },

        changeTheme () { this.$vuetify.theme.dark =! this.$vuetify.theme.dark; }
    },
  }
</script>