<template>
    <v-bottom-sheet
        :value="showSettings"
        @click:outside="hideSettings"
        @keydown.esc="hideSettings"
        @langChange="hideSettings">
        <v-sheet :height="sheetHeight" width="100vw" class="text-center">
            <div justify="center">
                <v-btn
                x-small
                rounded
                text
                color="error"
                @click="hideSettings">
                    {{$t('settings.close')}}
                </v-btn>
            </div>
            <div class="centered" justify="space-around">
                <active-card 
                    :disabled="this.$route.name === 'Profile'"
                    cardWidth="max(20vw, 150px)" 
                    cardHeight="max(20vh, 150px)"
                    :onHoverElevation="8"
                    :offHoverElevation="4"
                    clickEvent="profile"
                    @profile="showProfile">
                        <template #heading>
                            <v-icon color="secondary" size="max(8vw, 80px)">mdi-account</v-icon>
                            <h6>
                                {{$t('settings.profile')}}
                            </h6>
                        </template>
                </active-card>

                <active-card 
                    cardWidth="max(20vw, 150px)" 
                    cardHeight="max(20vh, 150px)"
                    :onHoverElevation="8"
                    :offHoverElevation="4"
                    clickEvent="logout"
                    @logout="logoutCurrentUser">
                        <template #heading>
                            <v-icon color="secondary" size="max(8vw, 80px)">mdi-logout</v-icon>
                            <h6>
                                {{$t('settings.logout')}}
                            </h6>
                        </template>
                </active-card>
    
                <fixed-card 
                    cardColor="accent"
                    cardWidth="max(20vw, 150px)" 
                    cardHeight="max(20vh, 150px)">
                    <template #heading>
                        <h5 style="color: white">
                            {{$t('settings.quick')}}
                        </h5>
                    </template>

                    <template #body>
                        <quick-settings-bar iconColor="white" iconSize="32" themeSize="32"/>
                    </template>
                </fixed-card>
            </div>
        </v-sheet>
    </v-bottom-sheet>
</template>

<script>
import ActiveCard from '../cards/ActiveCard';
import FixedCard from '../cards/FixedCard';
import QuickSettingsBar from './QuickSettingsBar';
import {db} from '../../firebase';
import i18n from '../../i18n';

export default {
    data: () => ({}),

    components: {
        ActiveCard,
        FixedCard,
        QuickSettingsBar
    },

    methods: {
        hideSettings () { this.$emit('hideSettings'); },

        showProfile () {
            this.$router.replace({
                name: 'Profile',
                params: {
                    lang: i18n.locale,
                    id: db.auth().currentUser.uid,
                    from: 'Home'
                }
            });
        },

        changeTheme () {
            this.$vuetify.theme.dark =! this.$vuetify.theme.dark
        },

        async logoutCurrentUser () {
            db.auth().signOut().then(() => {
                this.$router.replace({
                    name: 'Welcome',
                    params: {lang: i18n.locale}
                });
            })
        },
    },

    props: {
        'showSettings': {
            type: Boolean,
            default: false,
            required: true,
        },
        'sheetHeight': {
            type: String,
            default: '1vw',
            required: true,
        },
    },
}
</script>

<style lang="scss">
    .centered{
    height: 85%;
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
</style>