<template>
  <v-container class="administration" fluid>
    <navbar/>

    <h1>
      {{$t('administration.table-section')}}
    </h1>

    <v-container class="administration" fluid>
      <active-card 
        v-if="!user.role.isStudent"
        id="card-margin"
        cardWidth="max(15vw, 200px)" 
        cardHeight="max(15vh, 200px)"
        :onHoverElevation="8"
        :offHoverElevation="4"
        clickEvent="allUsers"
        @allUsers="showListOfUsers">
          <template #heading>
            <v-col>
            <v-row justify="center" id="card-margin">
              <v-icon color="secondary" size="500%">mdi-file-account-outline</v-icon>
            </v-row>
            <v-row justify="center">
              <h4>
                {{$t('administration.users')}}
            </h4>
            </v-row>
            </v-col>
          </template>
      </active-card>
      
      <active-card 
        id="card-margin"
        cardWidth="max(15vw, 200px)" 
        cardHeight="max(15vh, 200px)"
        :onHoverElevation="8"
        :offHoverElevation="4"
        clickEvent="lCourses"
        @lCourses="showListOfCourses">
          <template #heading>
            <v-col>
            <v-row justify="center" id="card-margin">
              <v-icon color="secondary" size="500%">mdi-file-table-outline</v-icon>
            </v-row>
            <v-row justify="center">
              <h4>
                {{$t('administration.courses')}}
            </h4>
            </v-row>
            </v-col>
          </template>
      </active-card>
    </v-container>

    <h1 v-if="!user.role.isStudent">
        {{$t('administration.registration-section')}}
    </h1>
    
    <v-container class="administration" fluid>
      <active-card 
        v-if="user.role.isAdmin"
        id="card-margin"
        cardWidth="max(15vw, 200px)" 
        cardHeight="max(15vh, 200px)"
        :onHoverElevation="8"
        :offHoverElevation="4"
        clickEvent="student"
        @student="registerNewStudent">
          <template #heading>
            <v-col>
            <v-row justify="center" id="card-margin">
              <v-icon color="secondary" size="500%">mdi-account-plus</v-icon>
            </v-row>
            <v-row justify="center">
              <h4>
                {{$t('administration.student')}}
            </h4>
            </v-row>
            </v-col>
          </template>
      </active-card>
      
      <active-card 
        v-if="user.role.isAdmin"
        id="card-margin"
        cardWidth="max(15vw, 200px)" 
        cardHeight="max(15vh, 200px)"
        :onHoverElevation="8"
        :offHoverElevation="4"
        clickEvent="worker"
        @worker="registerNewWorker">
          <template #heading>
            <v-col>
            <v-row justify="center" id="card-margin">
              <v-icon color="secondary" size="500%">mdi-account-multiple-plus</v-icon>
            </v-row>
            <v-row justify="center">
              <h4>
                {{$t('administration.worker')}}
            </h4>
            </v-row>
            </v-col>
          </template>
      </active-card>

      <active-card 
        v-if="user.role.isAdmin || user.role.isLector"
        id="card-margin"
        cardWidth="max(15vw, 200px)" 
        cardHeight="max(15vh, 200px)"
        :onHoverElevation="8"
        :offHoverElevation="4"
        clickEvent="class"
        @class="registerNewClass">
          <template #heading>
            <v-col>
            <v-row justify="center" id="card-margin">
              <v-icon color="secondary" size="500%">mdi-file-plus-outline</v-icon>
            </v-row>
            <v-row justify="center">
              <h4>
                {{$t('administration.class')}}
            </h4>
            </v-row>
            </v-col>
          </template>
      </active-card>
    </v-container>
  </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar.vue';
import ActiveCard from '../components/cards/ActiveCard';
import {users} from '../firebase';
import i18n from '../i18n';

export default {
  name: "Administration",

  data: () => ({
    user: {},
  }),

  components: { 
    Navbar,
    ActiveCard,
  },   

  created() {
    users.forEach((user) => {
      if(user.id === this.$route.params.id) this.user = user;
    });
  },

  methods: {
    showListOfUsers() {
      this.$router.replace({
        name: 'UsersList',
        params: {lang: i18n.locale}
      });
    },

    showListOfCourses() {
      this.$router.replace({
        name: 'ClassesList',
        params: {lang: i18n.locale}
      });
    },

    registerNewStudent () {
      this.$router.replace({
        name: 'StudentRegistration',
        params: {
          lang: i18n.locale,
          from: this.$route.name,
          fromID: this.$route.params.id
        }
      });
    },

    registerNewWorker () {
      this.$router.replace({
        name: 'WorkerRegistration',
        params: {lang: i18n.locale}
      });
    },

    registerNewClass () {
      this.$router.replace({
        name: 'CreateClass',
        params: {lang: i18n.locale}
      });
    },
  }
}
</script>