<template>
    <v-container fluid>
        <navbar/>
        
        <v-container class="card-center" fluid>
            <fixed-card id="last-card-bottom-margin" cardHeight="auto" cardWidth="max(60%, 500px)" :isLoading="isLoading">
                <template #heading>
                    <h1>{{course.name}}</h1>
                </template>

                <template #body>
                    <v-divider id="card-margin"/>

                    <v-row justify="start" id="card-margin">
                        <v-col>
                            <h6 class="forms"><strong>{{$t('class.lector')}} :</strong> {{lector.displayName}}</h6>
                        </v-col>
                        <v-col>
                            <h6 class="forms"><strong>{{$t('class.language')}} :</strong> {{course.language}}</h6>
                        </v-col>
                        <v-col>
                            <h6 class="forms"><strong>{{$t('create-class.dificulty')}} :</strong> {{course.dificulty}}</h6>
                        </v-col>
                    </v-row>

                    <v-row justify="start" id="card-margin">
                        <v-col>
                            <h6 class="forms"><strong>{{$t('class.start')}} :</strong> {{course.start}}</h6>
                        </v-col>
                        <v-col>
                            <h6 class="forms"><strong>{{$t('class.end')}} :</strong> {{course.end}}</h6>
                        </v-col>
                        <v-col></v-col>
                    </v-row>

                    <v-divider id="card-margin"/>

                    <v-col class="text-start" id="card-margin">
                            <h5 id="card-spacer">{{$t('class.students')}}</h5>
                    </v-col>
                    <v-data-table
                        id="card-margin"
                        :headers="headersStudents"
                        :items="courseStudents"
                        :items-per-page="5"
                        @click:row="showProfile"
                        :footer-props="{
                            showFirstLastPage: true,
                            firstIcon: 'mdi-page-first',
                            lastIcon: 'mdi-page-last',
                            prevIcon: 'mdi-chevron-left',
                            nextIcon: 'mdi-chevron-right',
                            'items-per-page-text': $t('class.students-per-page')
                        }">
                        <template v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }">
                            {{ pageStart }} - {{ pageStop }} {{ $t('class.of') }} {{ itemsLength }}
                        </template>
                    </v-data-table>
                    <v-col class="text-start" id="card-margin">
                            <h5 id="card-spacer">{{$t('class.lectures')}}</h5>
                    </v-col>
                    <v-data-table
                        id="card-margin"
                        :headers="headersLectures"
                        :items="course.lectures"
                        :items-per-page="5"
                        @click:row="changeLectureStatus"
                        :footer-props="{
                            showFirstLastPage: true,
                            firstIcon: 'mdi-page-first',
                            lastIcon: 'mdi-page-last',
                            prevIcon: 'mdi-chevron-left',
                            nextIcon: 'mdi-chevron-right',
                            'items-per-page-text': $t('class.lectures-per-page')
                        }">
                        <template v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }">
                            {{ pageStart }} - {{ pageStop }} {{ $t('class.of') }} {{ itemsLength }}
                        </template>
                        <template v-slot:[`item.done`]="{ item }">
                            <v-chip
                            :color="getColor(item.done)"
                            style="width: 100%;"/>
                        </template>
                    </v-data-table>
                </template>

                <template #footer>
                    <secondary-form-button 
                    action="back"
                    btnColor="info"
                    @back="goBack">
                        {{$t('worker-reg.back')}}
                    </secondary-form-button>

                    <v-spacer></v-spacer>

                    <secondary-form-button 
                    action="calendar"
                    btnColor="success"
                    @calendar="showCourseCalendar">
                        {{$t('class.calendar')}}
                    </secondary-form-button>

                    <div v-if="canEdit">
                        <secondary-form-button 
                        action="updateClass"
                        btnColor="warning"
                        @updateClass="showUpdateClass">
                            {{$t('class.update')}}
                        </secondary-form-button>
                    </div>
                </template>
            </fixed-card>

            <custom-calendar 
                calendarWidth="60vw"
                calendarHeight="50vh"
                :show="showCalendar"
                :month="monthName"
                @nextMonth="next"
                @prevMonth="prev"
                @hideCalendar="showCourseCalendar">
                <template #cal>
                    <v-calendar
                        class="elevation-24"
                        ref="calendar"
                        v-model="value"
                        :interval-format="intervalFormat"
                        :weekdays="weekday"
                        :type="type"
                        :events="events"
                        :event-color="getEventColor"
                        :event-overlap-mode="mode"
                        :event-overlap-threshold="30"
                        @click:date="viewDay"
                        @click:event="showEvent"
                        @change="updateEvents"/>
                        
                        <v-menu
                            :v-model="selectedOpen"
                            :close-on-content-click="false"
                            :activator="selectedElement"
                            offset-y>
                            <v-card
                                color="grey lighten-4"
                                min-width="350px"
                                flat>
                                <v-toolbar
                                :color="selectedEvent.color"
                                dark>
                                <v-toolbar-title v-if="selectedEvent.color == 'success'"><v-icon>mdi-check</v-icon> Hodina bola odučená.</v-toolbar-title>
                                <v-toolbar-title v-else><v-icon>mdi-close</v-icon> Hodina nebola odučená.</v-toolbar-title>
                                </v-toolbar>
                                <v-card-text>
                                    <v-row>
                                        Začiatok hodiny: {{selectedEvent.start}}
                                    </v-row>
                                    <v-row>
                                        Koniec hodiny: {{selectedEvent.end}}
                                    </v-row>
                                </v-card-text>
                                <v-card-actions>
                                </v-card-actions>
                            </v-card>
                            </v-menu>
                </template>
            </custom-calendar>
        </v-container>
    </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar';
import FixedCard from '../components/cards/FixedCard';
import SecondaryFormButton from '../components/forms/SecondaryFormButton';
import CustomCalendar from '../components/Calendar';
import {courses, users, db} from '../firebase';
import i18n from '../i18n';

export default {
    data: () => ({
        canEdit: false,
        showCalendar: false,
        type: 'month',
        mode: 'stack',
        weekday: [1, 2, 3, 4, 5, 6, 0],
        value: '',
        events: [],
        isLoading: true,
        course: [],
        lector: {},
        monthName: '',
        courseStudents: [],
        selectedOpen: false, 
        selectedEvent: {},
        selectedElement: null,
        headersStudents: [
          {
            text: i18n.t('class.student'),
            align: 'start',
            width: '40%',
            value: 'displayName',
          },
          { 
            text: i18n.t('class.email'),
            align: 'start',
            width: '30%',
            value: 'email' 
          },
          { 
            text: i18n.t('student-reg.phone'),
            align: 'start',
            width: '30%',
            value: 'phone' 
          }
        ],
        headersLectures: [
          {
            text: i18n.t('class.number'),
            align: 'start',
            width: '5%',
            value: 'number',
          },
          { 
            text: i18n.t('class.date'),
            align: 'start',
            width: '20%',
            value: 'date' 
          },
          { 
            text: i18n.t('create-class.time-start'),
            align: 'start',
            width: '15%',
            value: 'start' 
          },
          { 
            text: i18n.t('create-class.time-end'),
            align: 'start',
            width: '15%',
            value: 'end' 
          },
          { 
            text: i18n.t('class.duration'),
            align: 'start',
            width: '20%',
            value: 'duration'
          },
          { 
            text: i18n.t('class.done'),
            align: 'start',
            width: '15%',
            value: 'done'
          },
        ],
    }),

    created() {
        var curUsr = {};
        courses.forEach((course) => {
            if(course.id == this.$route.params.id){
                this.course = course;
                this.course.students.forEach((student) => {
                    users.forEach((user) => {
                       if(user.id === student){
                            this.courseStudents.push(user);
                        }
                            
                        else if(user.id === this.course.lector)
                            this.lector = user;

                        if(user.id === db.auth().currentUser.uid)
                            curUsr = user;
                    });
                });
            }
        });

        if(db.auth().currentUser.uid === this.lector.id || curUsr.role.isAdmin) this.canEdit = !this.canEdit;

        this.isLoading = !this.isLoading;
    },

    methods: {
        getColor (done) {
            if (done) return '#95C623'
            else return '#9E0031'
        },

        showProfile(row) {
            this.$router.replace({
                name: 'Profile',
                params: {
                    lang: i18n.locale,
                    id: row.id
                }
            });
        },

        showCourseCalendar() {
            this.showCalendar = !this.showCalendar;
        },

        prev () {
            this.$refs.calendar.prev();
            this.monthName = this.$refs.calendar.title;
        },

        next () {
            this.$refs.calendar.next();
            this.monthName = this.$refs.calendar.title;
        },

        viewDay ({ date }) {
            if(this.type === 'month'){
                this.focus = date
                this.type = 'day'
            } 
            else 
                this.type = 'month'
        },

        getEventColor(event) {
            return event.color;
        },

        showEvent ({ nativeEvent, event }) {
            if(this.type != 'day'){
                const open = () => {
                    this.selectedEvent = event;
                    this.selectedElement = nativeEvent.target;
                    setTimeout(() => this.selectedOpen = true, 10);
                }
                if (this.selectedOpen) {
                    this.selectedOpen = false;
                    setTimeout(open, 10);
                } 
                else
                    open();
                nativeEvent.stopPropagation();
            }
        },

        intervalFormat(locale) {
            return locale.time;
        },

        updateEvents() {
            this.monthName = this.$refs.calendar.title;

            while(this.events.length > 0)
                this.events.pop();

            this.course.lectures.forEach((lecture) => {
                const starting = lecture.date + ' ' + lecture.start;
                const ending = lecture.date + ' ' + lecture.end;
                var color = '';

                if(lecture.done)
                    color = 'success';
                else 
                    color = 'error';

                this.events.push({
                    name: lecture.number + '. hodina',
                    start: starting,
                    end: ending,
                    color: color,
                })
            })
        },

        changeLectureStatus(row) {  
            if(this.canEdit){
                this.course.lectures[row.number-1].done = !row.done;
                db.firestore().collection('classes').doc(this.course.id).update({
                    lectures: this.course.lectures
                }).then(() => {
                    alert(i18n.t('alerts.lecture-state-change-ok'));
                }).catch((error) => {
                    alert(error.code + ': ' + error.message);
                });
            }
        },

        goBack () {
            this.$router.replace({
                name: 'Administration',
                params: {
                    lang: i18n.locale,
                    id: db.auth().currentUser.uid,
                    from: this.$route.name,
                    fromID: this.$route.params.id
                }
            });
        },

        showUpdateClass() {
            this.$router.replace({
                name: 'UpdateClass',
                params: {
                    lang: i18n.locale,
                    id: this.$route.params.id
                }
            });
        }
    },

    components: {
        Navbar,
        FixedCard,
        SecondaryFormButton,
        CustomCalendar,
    }
}
</script>