<template>
  <v-container fluid>
    <navbar/>

    <v-container class="card-center" fluid>
      <fixed-card id="card-margin" cardHeight="auto" cardWidth="max(60%, 500px)" :isLoading="false">
        <template #heading>
          {{$t('classes-list.title')}}
        </template>

        <template #body>
          <v-row id="card-margin">
            <v-col></v-col>
            <v-col lg="6" md="8" sm="10">
              <v-text-field
              color="secondary"
              v-model="search"
              prepend-inner-icon="mdi-magnify"
              :label="$t('classes-list.search')"
              style="font-weight: normal;"
              single-line
              hide-details/>
            </v-col>
            <v-col></v-col>
          </v-row>

          <v-data-table
            id="round-table"
            :headers="headers"
            :items="courses"
            :items-per-page="5"
            :search="search"
            @click:row="showCourse"
            :footer-props="{
            showFirstLastPage: true,
            firstIcon: 'mdi-page-first',
            lastIcon: 'mdi-page-last',
            prevIcon: 'mdi-chevron-left',
            nextIcon: 'mdi-chevron-right',
            'items-per-page-text': $t('classes-list.classes-per-page')
            }">
            <template v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }">
            {{ pageStart }} - {{ pageStop }} {{ $t('classes-list.of') }} {{ itemsLength }}
            </template>
            <template v-slot:[`item.language`]="{ item }">
              <v-chip
                :color="getColor(item.language)"
                dark
                style="width: 100%;">
                {{ item.language }}
              </v-chip>
            </template>
          </v-data-table>
        </template>

        <template #footer>
          <secondary-form-button 
            action="back"
            btnColor="info"
            @back="goBack">
            {{$t('worker-reg.back')}}
          </secondary-form-button>
        </template>
      </fixed-card>
    </v-container>
  </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar.vue';
import FixedCard from '../components/cards/FixedCard';
import SecondaryFormButton from '../components/forms/SecondaryFormButton';
import {courses, db} from '../firebase';
import i18n from '../i18n';

export default {
  name: "ClassesList",

  data: () => ({
      search: '',
      headers: [
        {
          text: i18n.t('classes-list.name'),
          align: 'start',
          width: '30%',
          value: 'name',
        },
        { 
          text: i18n.t('classes-list.language'),
          align: 'start',
          width: '15%',
          value: 'language' 
        },
        { 
          text: i18n.t('create-class.dificulty'),
          align: 'start',
          width: '15%',
          value: 'dificulty' 
        },
        { 
          text: i18n.t('classes-list.id'),
          align: 'start',
          width: '25%',
          value: 'id' 
        },
      ],
      courses,
  }),

  components: {
    Navbar,
    FixedCard,
    SecondaryFormButton,
  },

  methods: {
    getColor (language) {
      if (language == 'SK') return '#95C623'
      else if (language == 'EN') return '#F26419'
      else if (language == 'FR') return '#9E0031'
      else if (language == 'ES') return '#0267C1'
      else return '#0D2C54'
    },

    showCourse(row) {
      this.$router.replace({
        name: 'Class',
        params: {
            lang: i18n.locale,
            id: row.id,
            from: this.$route.name
        }
      });
    },

    goBack () {
      this.$router.replace({
        name: 'Administration',
        params: {
          lang: i18n.locale,
          id: db.auth().currentUser.uid,
          from: this.$route.name,
        }
      });
    }
  },
}
</script>