<template>
    <v-container fluid>
    <navbar/>

    <v-container class="card-center" fluid>
      <fixed-card id="card-margin" cardHeight="auto" cardWidth="max(60%, 500px)" :isLoading="isLoading">
        <template #heading>
          <h1>
              {{$t('create-class.title')}}
          </h1>
        </template>

        <template #body>
          <v-row justify="center">
            <v-col class="text-center">
              <p>{{$t('student-reg.required')}}</p>
            </v-col>
          </v-row>
          <v-form ref="classForm" id="card-margin" v-model="isFormValid">
            <v-row justify="start" id="card-margin">
              <v-col>
                <h5>{{$t('create-class.basic-info')}}</h5>
              </v-col>
            </v-row>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-text-field v-model="name" :label="$t('create-class.name')+' '+$t('student-reg.*')" :hint="$t('create-class.name')" name="name" prepend-inner-icon="mdi-rename-box" type="text" color="secodnary" :rules="nameRules" :success="!!name" error-count="3"  counter rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-row>
                  <v-col>
                    <v-select 
                      v-model="selectedLanguage"
                      :items="languageItems"
                      chips
                      deletable-chips
                      hide-selected
                      :label="$t('create-class.language')+' '+$t('student-reg.*')"
                      :rules="required"
                      solo
                      dense
                      rounded/>
                    </v-col>
                  <v-col>
                    <v-select 
                      v-model="selectedDificulty"
                      :items="dificultyItems"
                      chips
                      deletable-chips
                      hide-selected
                      :label="$t('create-class.dificulty')+' '+$t('student-reg.*')"
                      :rules="required"
                      solo
                      dense
                      rounded/>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-select 
                  v-model="selectedLector"
                  :items="lectors"
                  :item-text="'displayName'"
                  :item-value="'id'"
                  chips
                  deletable-chips
                  hide-selected
                  :label="$t('create-class.lector')+' '+$t('student-reg.*')"
                  :disabled="iAmLector"
                  solo
                  dense
                  rounded/>
                <v-checkbox
                  v-model="iAmLector"
                  color="success"
                  :label="$t('create-class.i-am-lector')"/>
              </v-col>
              <v-col>
                <v-select 
                  v-model="selectedStudents"
                  :items="students"
                  :item-text="'displayName'"
                  :item-value="'id'"
                  chips
                  deletable-chips
                  hide-selected
                  :label="$t('create-class.student')+' '+$t('student-reg.*')"
                  :rules="required"
                  multiple
                  solo
                  dense
                  rounded/>
              </v-col>
            </v-row>
            <v-row justify="start" id="card-margin">
              <v-col>
                <h5>{{$t('create-class.date')+' '+$t('student-reg.*')}}</h5>
              </v-col>
            </v-row>
            <v-row justify="start" id="card-margin">
              <v-col>
                <p>
                  {{$t('create-class.date-info')}}
                </p>
              </v-col>
              <v-col>
                <v-checkbox
                  v-model="iPickDates"
                  color="success"
                  :label="$t('create-class.i-pick')"/>
              </v-col>
            </v-row>
            
            <div v-if="!iPickDates">
              <v-container fluid>
                <v-row justify="start" id="card-margin">
                  <v-col>
                    <v-menu
                      v-model="menuStartDate"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      min-width="auto">
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="startDate"
                          color="secondary"
                          :label="$t('create-class.date-from')"
                          prepend-icon="mdi-calendar"
                          readonly
                          solo
                          rounded
                          dense
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        color="accent"
                        :min="today"
                        v-model="startDate"
                        @input="menuStartDate = false"/>
                    </v-menu>
                  </v-col>
                  <v-col>
                    <v-menu
                      v-model="menuEndDate"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      min-width="auto">
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="endDate"
                          color="secondary"
                          :label="$t('create-class.date-to')"
                          prepend-icon="mdi-calendar"
                          readonly
                          solo
                          rounded
                          dense
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        color="accent"
                        :min="startDate"
                        v-model="endDate"
                        @input="menuEndDate = false"/>
                    </v-menu>
                  </v-col>
                </v-row>
                <v-row justify="start" id="card-margin">
                  <v-col>
                    <v-menu
                      ref="timeMenuStart"
                      v-model="timeMenuStart"
                      :close-on-content-click="false"
                      :return-value.sync="timeStart"
                      transition="scale-transition"
                      max-width="290px"
                      min-width="290px">
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="timeStart"
                          :label="$t('create-class.time-start')"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          solo
                          rounded
                          dense
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="timeMenuStart"
                        color="accent"
                        format="24hr"
                        v-model="timeStart"
                        full-width
                        @click:minute="$refs.timeMenuStart.save(timeStart)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                  <v-col>
                    <v-menu
                      ref="timeMenuEnd"
                      v-model="timeMenuEnd"
                      :close-on-content-click="false"
                      :return-value.sync="timeEnd"
                      transition="scale-transition"
                      max-width="290px"
                      min-width="290px">
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="timeEnd"
                          :label="$t('create-class.time-end')"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          solo
                          rounded
                          dense
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="timeMenuEnd"
                        color="accent"
                        format="24hr"
                        v-model="timeEnd"
                        full-width
                        @click:minute="$refs.timeMenuEnd.save(timeEnd)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                </v-row>
                <v-row justify="start" id="card-margin">
                  <v-col>
                    <v-hover v-slot="{ hover }">
                      <v-btn
                        color="success"   
                        width="auto"
                        rounded
                        text
                        small
                        :class="{ 'on-hover': hover}"
                        :elevation="hover ? 4 : 2"
                        :disabled="timeEnd == null || timeStart == null"
                        @click="generateLectureList">
                        {{$t('create-class.generate')}}
                      </v-btn>
                    </v-hover>
                  </v-col>
                </v-row>
              </v-container>
            </div>

            <div v-if="iPickDates">
              <v-container fluid>
                <v-row justify="start" id="card-margin">
                  <v-col>
                    <v-menu
                      v-model="menuLectureDate"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      min-width="auto">
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="lectureDate"
                          color="secondary"
                          :label="$t('create-class.date-hand-pick')"
                          prepend-icon="mdi-calendar"
                          readonly
                          solo
                          rounded
                          dense
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        color="accent"
                        :min="today"
                        v-model="lectureDate"
                        @input="menuLectureDate = false"/>
                    </v-menu>
                  </v-col>
                  <v-col>
                    <v-menu
                      ref="timeMenuStart"
                      v-model="timeMenuStart"
                      :close-on-content-click="false"
                      :return-value.sync="timeStart"
                      transition="scale-transition"
                      max-width="290px"
                      min-width="290px">
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="timeStart"
                          :label="$t('create-class.time-start')"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          solo
                          rounded
                          dense
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="timeMenuStart"
                        color="accent"
                        format="24hr"
                        v-model="timeStart"
                        full-width
                        @click:minute="$refs.timeMenuStart.save(timeStart)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                </v-row>
                <v-row justify="start" id="card-margin">
                  <v-col>
                    <v-menu
                      ref="timeMenuEnd"
                      v-model="timeMenuEnd"
                      :close-on-content-click="false"
                      :return-value.sync="timeEnd"
                      transition="scale-transition"
                      max-width="290px"
                      min-width="290px">
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="timeEnd"
                          :label="$t('create-class.time-end')"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          solo
                          rounded
                          dense
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="timeMenuEnd"
                        color="accent"
                        format="24hr"
                        v-model="timeEnd"
                        full-width
                        @click:minute="$refs.timeMenuEnd.save(timeEnd)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                  <v-col>
                    <v-hover v-slot="{ hover }">
                        <v-btn
                          color="success"   
                          width="auto"
                          rounded
                          text
                          small
                          :class="{ 'on-hover': hover}"
                          :elevation="hover ? 4 : 2"
                          :disabled="timeStart == null || timeEnd == null"
                          @click="addLecture">
                          {{$t('create-class.add')}}
                        </v-btn>
                    </v-hover>
                  </v-col>
                </v-row>
              </v-container>
            </div>

            <v-row justify="start" id="card-margin">
              <v-col>
                <h5>{{$t('create-class.lecture-list')}}</h5>
              </v-col>
            </v-row>
              <v-data-table
                id="card-margin"
                :headers="headers"
                :items="lectures"
                :items-per-page="5"
                :footer-props="{
                  showFirstLastPage: true,
                  firstIcon: 'mdi-page-first',
                  lastIcon: 'mdi-page-last',
                  prevIcon: 'mdi-chevron-left',
                  nextIcon: 'mdi-chevron-right',
                  'items-per-page-text': $t('class.lectures-per-page')
                }">
                <template v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }">
                  {{ pageStart }} - {{ pageStop }} {{ $t('class.of') }} {{ itemsLength }}
                </template>
              </v-data-table>
          </v-form>
          <v-row justify="center">
            <submit-form-button
              formRef="classForm"
              :showButton="!generated || !isFormValid || selectedLanguage.length == 0 || selectedStudents.length == 0 || (!iAmLector && selectedLector.length == 0)"
              @classForm="submitForm">
              {{$t('create-class.create-btn')}}
            </submit-form-button>
          </v-row>
        </template>

        <template #footer>
          <secondary-form-button 
            action="back"
            btnColor="info"
            @back="goBack">
            {{$t('create-class.back-btn')}}
          </secondary-form-button>
        </template>
      </fixed-card>
    </v-container>
  </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar';
import FixedCard from '../components/cards/FixedCard';
import SubmitFormButton from '../components/forms/SubmitFormButton';
import SecondaryFormButton from '../components/forms/SecondaryFormButton';
import {students, lectors, db, createNewClass} from '../firebase';
import i18n from '../i18n';

var moment = require('moment');

export default {
  name: "CreateClass",

  data: () => ({
      generated: false,
      isFormValid: true,
      isLoading: false,
      iAmLector: false,
      iPickDates: false,
      periodicDates: false,
      dificultyItems: ['A1', 'A2', 'B1', 'B2', 'C1'],
      selectedDificulty: [],
      languageItems: ['SK', 'EN', 'FR', 'ES', 'IT'],
      selectedLanguage: [],
      students,
      selectedStudents: [],
      lectors,
      selectedLector: [],
      menuStartDate: false,
      menuEndDate: false,
      menuLectureDate: false,
      today: new Date().toISOString().substr(0, 10),
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      lectureDate: new Date().toISOString().substr(0, 10),
      timeMenuStart: false,
      timeMenuEnd: false,
      timeStart: null,
      timeEnd: null,
      lectures: [],
      name: '',
      nameRules: [
          val => !!val || i18n.t('rules-warrning.class-name-required'),
          val => val.length > 3 || i18n.t('rules-warrning.class-name-required'),
      ],
      required: [val => !!val || i18n.t('rules-warrning.required')],
      headers: [
        {
          text: i18n.t('class.number'),
          align: 'start',
          width: '20%',
          value: 'number',
        },
        { 
          text: i18n.t('class.date'),
          align: 'start',
          width: '20%',
          value: 'date' 
        },
        { 
          text: i18n.t('create-class.time-start'),
          align: 'start',
          width: '20%',
          value: 'start' 
        },
        { 
          text: i18n.t('create-class.time-end'),
          align: 'start',
          width: '20%',
          value: 'end'
        },
        { 
          text: i18n.t('class.duration'),
          align: 'start',
          width: '20%',
          value: 'duration'
        },
      ],
  }),

  components: {
      Navbar,
      FixedCard,
      SubmitFormButton,
      SecondaryFormButton,
  },

  methods: {
      showButton () {
          return this.isFormValid == this.terms;
      },

      changeButtonState () {
          this.isFormValid = !this.isFormValid;
      },

      submitForm() {
          this.isLoading = !this.isLoading;

          if(this.iAmLector) this.selectedLector[0] = db.auth().currentUser.uid; 

          createNewClass({
            name: this.name.trim(),
            language: this.selectedLanguage,
            dificulty: this.selectedDificulty,
            lector: this.selectedLector,
            students: this.selectedStudents,
            start: this.startDate,
            end: this.endDate,
            lectures: this.lectures
          });

          this.isLoading = !this.isLoading;
      },

      goBack() {
        this.$router.replace({
          name: 'Administration',
          params: {
            lang: i18n.locale,
            id: db.auth().currentUser.uid,
            from: this.$route.name
          }
        });
      },

      addLecture () {
        this.generated = true;
        this.lectures.push({
          number: this.lectures.length+1,
          date: this.lectureDate,
          start: this.timeStart,
          end: this.timeEnd,
          duration: this.calculateDuration(this.lectureDate, this.timeStart, this.timeEnd),
          done: false,
        })
      },

      generateLectureList () {
        this.generated = true;
        const dtend = new Date(this.endDate);
        for(const dt = new Date(this.startDate); dt <= dtend; dt.setDate(dt.getDate()+7)){
          this.lectures.push({
            number: this.lectures.length+1,
            date: dt.toISOString().substr(0, 10),
            start: this.timeStart,
            end: this.timeEnd,
            duration: this.calculateDuration(dt.toISOString().substr(0, 10), this.timeStart, this.timeEnd),
            done: false,
          });
        }
      },

      calculateDuration(date, tStart, tEnd){
        var start = date + ' ' + tStart;
        var end = date + ' ' + tEnd;

        return moment.utc(moment(end, "YYYY-MM-DD HH:mm").diff(moment(start, "YYYY-MM-DD HH:mm"))).format("HH:mm");
      }
  },
}
</script>