<template>
  <v-container class="card-center" fluid>
    <navbar/>
    <active-card 
      id="card-margin"
      cardWidth="max(60%, 500px)" 
      cardHeight="max(15vh, 100px)"
      :onHoverElevation="8"
      :offHoverElevation="4"
      clickEvent="showProfile"
      @showProfile="showUsersProfile">
        <template #heading>
          <h1 id="card-margin">{{$t('home.welcome')}} {{user.name.first}} {{user.name.last}}</h1>
        </template>
        <template #body>
          <v-col class="text-center">
            <p>{{$t('home.profile')}}</p>
          </v-col>
        </template>
    </active-card>
    <fixed-card id="card-margin" cardHeight="auto" cardWidth="max(60%, 500px)" :isLoading="false">
      <template #heading>
        <v-row justify="center">
          <h4>{{$t('home.week')}}</h4>
        </v-row>
      </template>
      <template #body>
        <v-row justify="center" id="card-margin">
          <v-col></v-col>
          <v-col class="text-center" lg="4" md="6" sm="8">
            <v-row justify="space-around">
              <v-btn
                fab
                width="32px"
                height="32px"
                color="info"
                @click="prev">
                <v-icon size="32px" small>
                    mdi-chevron-left
                </v-icon>
              </v-btn>
              <p>{{ monthName }}</p>
              <v-btn
                fab
                width="32px"
                height="32px"
                color="info"
                @click="next">
                <v-icon size="32px" small>
                  mdi-chevron-right
                </v-icon>
              </v-btn>
            </v-row>
          </v-col>
          <v-col></v-col>
        </v-row>
        <v-row justify="center" id="card-margin">
          <v-sheet min-height="300px" height="50vh" min-width="150px" width="90%">
            <v-calendar
              color="success"
              class="elevation-6"
              ref="calendar"
              v-model="value"
              first-time="06:00"
              :interval-format="intervalFormat"
              :weekdays="weekday"
              :type="type"
              :events="events"
              :event-color="getEventColor"
              :event-overlap-mode="mode"
              :event-overlap-threshold="30"
              @click:date="viewDay"
              @click:event="showEvent"
              @change="updateEvents"/>
          </v-sheet>
        </v-row>
      </template>
    </fixed-card>
  </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar.vue';
import ActiveCard from '../components/cards/ActiveCard';
import FixedCard from '../components/cards/FixedCard';
import {users, courses} from '../firebase';
import i18n from '../i18n';

export default {
  name: "Home",

  data: () => ({
    spacer: ', ',
    type: '4day',
    mode: 'stack',
    weekday: [1, 2, 3, 4, 5, 6, 0],
    value: '',
    events: [],
    isLoading: true,
    showCalendar: true,
    user: {},
    monthName: '',
    headersCourses: [
      {
        text: i18n.t('classes-list.name'),
        width: '20%',
        align: 'start',
        value: 'name',
      },
      { 
        text: i18n.t('classes-list.language'),
        width: '20%',
        align: 'start',
        value: 'language' 
      },
      { 
        text: i18n.t('create-class.dificulty'),
        width: '20%',
        align: 'start',
        value: 'dificulty' 
      },
      { 
        text: i18n.t('class.start'),
        width: '20%',
        align: 'start',
        value: 'start' 
      },
      { 
        text: i18n.t('class.end'),
        width: '20%',
        align: 'start',
        value: 'end' 
      }
    ],
    usersCourses: [],
  }),
  
  components: {
    Navbar,
    ActiveCard,
    FixedCard,
  },
  
  created() {
    users.forEach((user) => {
      if(user.id === this.$route.params.id) this.user = user;
    });

    courses.forEach((course) => {
      if(this.user.courses.includes(course.id))
        this.usersCourses.push({
          color: this.getColor(course.language),
          ...course
        });
    });
  },
  
  methods: {
    getColor (language) {
      if (language == 'SK') return '#95C623'
      else if (language == 'EN') return '#F26419'
      else if (language == 'FR') return '#9E0031'
      else if (language == 'ES') return '#0267C1'
      else return '#0D2C54'
    },

    getEventColor(event) { return event.color; },

    prev () {
      this.$refs.calendar.prev(),
      this.monthName = this.$refs.calendar.title;
    },

    next () {
      this.$refs.calendar.next(),
      this.monthName = this.$refs.calendar.title;
    },

    viewDay ({ date }) {
      if(this.type === '4day'){
        this.focus = date
        this.type = 'day'
      } 
      else 
        this.type = '4day'
    },

    showEvent({ event }) { this.showCourse(event); },

    showCourse(row) {
      this.$router.replace({
        name: 'Class',
        params: {
          lang: i18n.locale,
          id: row.id
        }
      });
    },

    updateEvents() {
      this.monthName = this.$refs.calendar.title;

      while(this.events.length > 0)
        this.events.pop();

      this.usersCourses.forEach((course) => {
        course.lectures.forEach((lecture) => {
          const starting = lecture.date + ' ' + lecture.start;
          const ending = lecture.date + ' ' + lecture.end;

          this.events.push({
            id:course.id,
            name: course.name + ' (' + course.language + ')',
            start: starting,
            end: ending,
            color: course.color,
            time: lecture.time
          })
        })
      })
    },

    intervalFormat(locale) { return locale.time; },

    showUsersProfile() {
      this.$router.replace({
        name: 'Profile',
        params: {
          lang: i18n.locale,
          id: this.$route.params.id
        }
      })
    }
  },
};
</script>
