<template>
    <v-container class="centered" fluid>
        <v-icon size="max(50vh, 24px)" color="black">mdi-google-downasaur</v-icon>
        <h1>
            {{$t('not-found.title')}}
        </h1>
        <h2>
            {{$t('not-found.message')}}
        </h2>
        <v-hover v-slot="{ hover }">
            <v-btn id="btn"
                color="error"
                height="max(5vh, 24px)"
                rounded
                :x-large="$vuetify.breakpoint.xl" 
                :large="$vuetify.breakpoint.large"
                :small="$vuetify.breakpoint.small"
                :x-small="$vuetify.breakpoint.small"
                :class="{ 'on-hover': hover}"
                :elevation="hover ? 8 : 2"
                @click="goBack">
                <v-icon size="max(5vh, 24px)">mdi-arrow-left</v-icon>
                {{$t('not-found.back')}}
            </v-btn>
        </v-hover>
    </v-container>
</template>

<script>
import i18n from '../i18n';

export default {
    methods: {
        goBack() {
            this.$router.replace({
                name: 'Welcome',
                params: {lang: i18n.locale}
            })
        }
    }
}
</script>

<style lang="scss">
.centered{
  background: linear-gradient(to right, #F26419, #9E0031);
  height: 100%;
  width: 100%;
  float: left;
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: start;
  align-items: center;
  
    h1{
        font-weight: normal;
    }
}
</style>