<template>
    <v-container fluid>
        <navbar/>
        
        <v-container class="card-center" fluid>
            <fixed-card id="card-margin" cardHeight="auto" cardWidth="max(60%, 500px)" :isLoading="isLoading">
                <template #heading>
                    <v-row justify="center">
                        <h1 id="quick-margin">{{user.name.first}} {{user.name.last}}</h1>
                        <h4 id="card-margin" v-if="user.role.isStudent">{{$t('firebase.student')}}</h4>
                        <h4 id="card-margin" v-else-if="user.role.isLector && !user.role.isAdmin">{{$t('firebase.lector')}}</h4>
                        <h4 id="card-margin" v-else-if="!user.role.isLector && user.role.isAdmin">{{$t('firebase.admin')}}</h4>
                        <h4 id="card-margin" v-else>{{$t('firebase.admin-lector')}}</h4>
                    </v-row>
                </template>

                <template #body>
                    <v-divider/>

                    <v-col class="text-start" id="card-margin">
                        <h5>{{$t('profile.contact-info')}}</h5>
                    </v-col>
                    <v-row justify="start" id="card-margin">
                        <v-col>
                            <h6 class="forms"><strong>{{$t('worker-reg.email')}}:</strong> {{user.email}}</h6> 
                        </v-col>
                        <v-col>
                            <h6 class="forms"><strong>{{$t('worker-reg.phone')}}:</strong> {{user.phone}}</h6> 
                        </v-col>
                    </v-row>

                    <v-row justify="start" id="card-margin"></v-row>
                      
                    <v-col class="text-start" id="card-margin">
                        <h5>{{$t('worker-reg.address')}}</h5>
                    </v-col>
                    <v-row justify="start" id="card-margin">
                        <v-col>
                            <h6 class="forms"><strong>{{$t('worker-reg.street')}}:</strong> {{user.address.street}}</h6> 
                        </v-col>
                        <v-col>
                            <h6 class="forms"><strong>{{$t('worker-reg.street-num')}}:</strong> {{user.address.number}}</h6> 
                        </v-col>
                    </v-row>
                    <v-row justify="start" id="card-margin">
                        <v-col>
                            <h6 class="forms"><strong>{{$t('worker-reg.zip')}}:</strong> {{user.address.zip}}</h6> 
                        </v-col>
                        <v-col>
                            <h6 class="forms"><strong>{{$t('worker-reg.city')}}:</strong> {{user.address.city}}</h6> 
                        </v-col>
                    </v-row>
                    <v-row justify="start" id="card-margin">
                        <v-col>
                            <h6 class="forms"><strong>{{$t('worker-reg.country')}}:</strong> {{user.address.country}}</h6> 
                        </v-col>
                    </v-row>

                    <div v-if="!user.role.isStudent"> 
                        <v-row justify="start" id="card-margin"></v-row>
                      
                        <v-row justify="start" id="card-margin">
                            <v-col>
                                <h5>{{$t('profile.iban')}}</h5>
                            </v-col>
                            <v-col>
                                <h5>{{$t('worker-reg.nid')}}</h5>
                            </v-col>
                        </v-row>
                        <v-row justify="start" id="card-margin">
                            <v-col>
                                <h6 class="forms">{{user.iban}}</h6>
                            </v-col>
                            <v-col>
                                <h6 class="forms">{{user.nid}}</h6>
                            </v-col>
                        </v-row>

                        <v-col class="text-start" id="card-margin">
                            <h5>{{$t('worker-reg.languages')}}</h5>
                        </v-col>

                        <v-row justify="start" id="card-margin">
                            <v-row id="card-margin">
                                <h6 class="forms" v-for="lang in user.languages" :key="lang">{{lang + spacer}}</h6>
                            </v-row>
                        </v-row>
                    </div>

                    <v-divider id="card-margin"/>

                    <v-col class="text-start" id="card-margin">
                        <h5 v-if="user.role.isStudent">{{$t('profile.courses-student')}}</h5>
                        <h5 v-else>{{$t('profile.courses-lector')}}</h5>
                    </v-col>
                    <v-data-table
                        id="card-margin"
                        :headers="headersCourses"
                        :items="usersCourses"
                        :items-per-page="5"
                        @click:row="showCourse"
                        :footer-props="{
                            showFirstLastPage: true,
                            firstIcon: 'mdi-page-first',
                            lastIcon: 'mdi-page-last',
                            prevIcon: 'mdi-chevron-left',
                            nextIcon: 'mdi-chevron-right',
                            'items-per-page-text': $t('classes-list.classes-per-page')
                        }">
                        <template v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }">
                            {{ pageStart }} - {{ pageStop }} {{ $t('class.of') }} {{ itemsLength }}
                        </template>
                        <template v-slot:[`item.language`]="{ item }">
                          <v-chip
                            :color="getColor(item.language)"
                            dark
                            style="width: 100%;">
                            {{ item.language }}
                          </v-chip>
                        </template>
                    </v-data-table>
                </template>

                <template #footer>
                    <secondary-form-button 
                    action="back"
                    btnColor="info"
                    @back="goBack">
                        {{$t('worker-reg.back')}}
                    </secondary-form-button>

                    <v-spacer></v-spacer>

                    <secondary-form-button 
                    action="calendar"
                    btnColor="success"
                    @calendar="showUsersCalendar">
                        {{$t('profile.calendar')}}
                    </secondary-form-button>

                    <div v-if="canEdit">
                        <secondary-form-button 
                        action="update"
                        btnColor="warning"
                        @update="updateUsersDetails">
                            {{$t('profile.update')}}
                        </secondary-form-button>
                    </div>
                </template>
            </fixed-card>

            <custom-calendar 
                calendarWidth="60vw"
                calendarHeight="50vh"
                :show="showCalendar"
                :month="monthName"
                @nextMonth="next"
                @prevMonth="prev"
                @hideCalendar="showUsersCalendar">
                <template #cal>
                    <v-calendar
                        class="elevation-24"
                        ref="calendar"
                        v-model="value"
                        :interval-format="intervalFormat"
                        :weekdays="weekday"
                        :type="type"
                        :events="events"
                        :event-color="getEventColor"
                        :event-overlap-mode="mode"
                        :event-overlap-threshold="30"
                        @click:date="viewDay"
                        @click:event="showEvent"
                        @change="updateEvents"/>
                </template>
            </custom-calendar>
        </v-container>
    </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar';
import FixedCard from '../components/cards/FixedCard';
import SecondaryFormButton from '../components/forms/SecondaryFormButton';
import CustomCalendar from '../components/Calendar';
import {users, courses, db} from '../firebase';
import i18n from '../i18n';

export default {
    data: () => ({
        canEdit: false,
        spacer: ', ',
        type: 'month',
        mode: 'stack',
        weekday: [1, 2, 3, 4, 5, 6, 0],
        value: '',
        events: [],
        isLoading: true,
        showCalendar: false,
        user: {},
        monthName: '',
        headersCourses: [
          {
            text: i18n.t('classes-list.name'),
            width: '20%',
            align: 'start',
            value: 'name',
          },
          { 
            text: i18n.t('classes-list.language'),
            width: '20%',
            align: 'start',
            value: 'language' 
          },
          { 
            text: i18n.t('create-class.dificulty'),
            width: '20%',
            align: 'start',
            value: 'dificulty' 
          },
          { 
            text: i18n.t('class.start'),
            width: '20%',
            align: 'start',
            value: 'start' 
          },
          { 
            text: i18n.t('class.end'),
            width: '20%',
            align: 'start',
            value: 'end' 
          }
        ],
        usersCourses: [],
    }),

    components: {
        Navbar,
        FixedCard,
        SecondaryFormButton,
        CustomCalendar,
    },

    created() {
        var curUsr = {};
        users.forEach((user) => {
            if(user.id == this.$route.params.id)
                this.user = user;
            if(user.id == db.auth().currentUser.uid)
                curUsr = user;
        });

        courses.forEach((course) => {
            if(this.user.courses.includes(course.id))
                this.usersCourses.push({
                    color: this.getColor(course.language),
                    ...course
                });
        });

        if(db.auth().currentUser.uid === this.user.id || curUsr.role.isAdmin) this.canEdit = !this.canEdit;
        
        this.isLoading = false;
    },

    methods: {
        getColor (language) {
            if (language == 'SK') return '#95C623'
            else if (language == 'EN') return '#F26419'
            else if (language == 'FR') return '#9E0031'
            else if (language == 'ES') return '#0267C1'
            else return '#0D2C54'
        },

        getEventColor(event) {
            return event.color;
        },

        prev () {
            this.$refs.calendar.prev(),
            this.monthName = this.$refs.calendar.title;
        },

        next () {
            this.$refs.calendar.next(),
            this.monthName = this.$refs.calendar.title;
        },

        viewDay ({ date }) {
            if(this.type === 'month'){
                this.focus = date
                this.type = 'day'
            } 
            else 
                this.type = 'month'
        },

        showEvent({ event }) {
            this.showCourse(event);
        },

        showCourse(row) {
            this.$router.replace({
                name: 'Class',
                params: {
                    lang: i18n.locale,
                    id: row.id
                }
            });
        },

        updateEvents() {
            this.monthName = this.$refs.calendar.title;

            while(this.events.length > 0)
                this.events.pop();

            this.usersCourses.forEach((course) => {
                course.lectures.forEach((lecture) => {
                    const starting = lecture.date + ' ' + lecture.start;
                    const ending = lecture.date + ' ' + lecture.end;

                    this.events.push({
                        id:course.id,
                        name: course.name + ' (' + course.language + ')',
                        start: starting,
                        end: ending,
                        color: course.color,
                        time: lecture.time
                    })
                })
            })
        },

        intervalFormat(locale) {
            return locale.time;
        },

        goBack() {
            this.$router.replace({
                name: 'Administration',
                params: {
                    lang: i18n.locale,
                    id: db.auth().currentUser.uid,
                    from: this.$route.name,
                    fromID: this.$route.params.id
                }
            });
        },

        showUsersCalendar() {
            this.showCalendar = !this.showCalendar;
        },

        updateUsersDetails() {
            this.$router.replace({
                name: 'UpdateProfile',
                params: {
                    lang: i18n.locale,
                    id: this.$route.params.id
                }
            });
        }
    },
}
</script>