<template>
  <v-container fluid>
    <navbar v-if="db.auth().currentUser"/>

    <v-container class="card-center" fluid>
      <fixed-card  id="card-margin" cardHeight="auto" cardWidth="max(60%, 500px)" :isLoading="isLoading">
        <template #heading>
          <h1>
              {{$t('student-reg.title')}}
          </h1>
        </template>

        <template #body>
          <v-row v-if="!db.auth().currentUser" justify="center" style="margin-bottom: 3vw; margin-top: .5vw"> 
            <quick-settings-bar iconSize="32" themeSize="32"/>
          </v-row>
          <v-row justify="center">
            <v-col class="text-center">
              <p>{{$t('student-reg.required')}}</p>
            </v-col>
          </v-row>
          <v-form ref="registerForm" id="card-margin" v-model="isRegistrationValid">
            <v-col class="text-start" id="card-margin">
              <h5>{{$t('student-reg.personal-info')}}</h5>
            </v-col>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-text-field v-model="fname" :label="$t('student-reg.first-name')+' '+$t('student-reg.*')" :hint="$t('student-reg.first-name')" name="fname" prepend-inner-icon="mdi-account" type="text" color="secodnary" :rules="fnameRules" :success="!!fname" error-count="3"  counter rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="lname" :label="$t('student-reg.last-name')+' '+$t('student-reg.*')" :hint="$t('student-reg.last-name')" name="lname" prepend-inner-icon="mdi-account" type="text" color="secodnary" :rules="lnameRules" :success="!!lname" error-count="3" counter rounded filled solo dense/>
              </v-col>
            </v-row>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-text-field v-model="phone" :label="$t('student-reg.phone')+' '+$t('student-reg.*')" :hint="$t('student-reg.phone')" name="phone" prepend-inner-icon="mdi-phone" type="text" color="secodnary" :rules="phoneRules" :success="!!phone" error-count="2" rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="email" :label="$t('student-reg.email')+' '+$t('student-reg.*')" :hint="$t('student-reg.email')" name="email" prepend-inner-icon="mdi-email" type="text" color="secodnary" :rules="emailRules" :success="!!email" error-count="2" rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="password" :label="$t('student-reg.password')+' '+$t('student-reg.*')" :hint="$t('student-reg.password')" name="password" prepend-inner-icon="mdi-lock" :type="showPassword ? 'text' : 'password'" color="secodnary" :rules="passwordRules" :success="!!password" error-count="1" counter rounded filled solo dense :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" @click:append="showPassword = !showPassword"/>
              </v-col>
            </v-row>

            
            <v-col class="text-start" id="card-margin">
              <h5>{{$t('worker-reg.address')}}</h5>
            </v-col>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-text-field v-model="street" :label="$t('student-reg.street')+' '+$t('student-reg.*')" :hint="$t('student-reg.street')" name="street" prepend-inner-icon="mdi-home" type="text" color="secodnary" :rules="streetRules" :success="!!street" error-count="3"  counter rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="number" :label="$t('student-reg.street-num')" :hint="$t('student-reg.street-num')" name="number" prepend-inner-icon="mdi-home-floor-1" type="number" color="secodnary" :rules="numberRules" :success="!!number" error-count="3" counter rounded filled solo dense/>
              </v-col>
            </v-row>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-text-field v-model="city" :label="$t('student-reg.city')+' '+$t('student-reg.*')" :hint="$t('student-reg.city')" name="city" prepend-inner-icon="mdi-home-city" type="text" color="secodnary" :rules="cityRules" :success="!!city" error-count="3"  counter rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="zip" :label="$t('student-reg.zip')+' '+$t('student-reg.*')" :hint="$t('student-reg.zip')" name="zip" prepend-inner-icon="mdi-numeric" type="number" color="secodnary" :rules="zipRules" :success="!!zip" error-count="3"  counter rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="country" :label="$t('student-reg.country')+' '+$t('student-reg.*')" :hint="$t('student-reg.country')" name="country" prepend-inner-icon="mdi-city-variant" type="text" color="secodnary" :rules="countryRulse" :success="!!country" error-count="3" counter rounded filled solo dense/>
              </v-col>
            </v-row>
          </v-form>
          <v-row justify="center">
            <submit-form-button
              formRef="registerForm"
              :showButton="!isRegistrationValid"
              @registerForm="submitRegistrationForm">
              {{$t('student-reg.reg-btn')}}
            </submit-form-button>
          </v-row>
        </template>
        
        <template #footer>
          <secondary-form-button 
            action="login"
            btnColor="info"
            @login="goBack">
            {{$t('student-reg.log-btn')}}
          </secondary-form-button>
        </template>
      </fixed-card>
    </v-container>
  </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar';
import FixedCard from '../components/cards/FixedCard';
import SubmitFormButton from '../components/forms/SubmitFormButton';
import SecondaryFormButton from '../components/forms/SecondaryFormButton';
import QuickSettingsBar from '../components/navigation/QuickSettingsBar.vue';
import {db, registerNewAccount} from '../firebase';
import i18n from '../i18n';

export default {
  name: "StudentRegistration",

  data: () => ({
    db,
    showPassword: false,
    isRegistrationValid: true, 
    isLoading: false,
    fname: '',
    fnameRules: [
      val => !!val || i18n.t('rules-warrning.first-name-required'),
      val => val.length >= 3 || i18n.t('rules-warrning.first-name-min'),
      val => val.length <= 50 || i18n.t('rules-warrning.first-name-max'),
    ],
    lname: '',
    lnameRules: [
      val => !!val || i18n.t('rules-warrning.last-name-required'),
      val => val.length >= 3 || i18n.t('rules-warrning.last-name-min'),
      val => val.length <= 50 || i18n.t('rules-warrning.last-name-max'),
    ],
    phone: '',
    phoneRules: [
      val => !!val || i18n.t('rules-warrning.mobile-required'),
      val => /\+421.+\d{8}$/.test(val) || i18n.t('rules-warrning.mobile-regex'),
      val => val.length <= 13 || i18n.t('rules-warrning.mobile-length'),
    ],
    email: '',
    emailRules: [
      val => !!val || i18n.t('rules-warrning.email-required'),
      val => /.+@.+\.+/.test(val) || i18n.t('rules-warrning.email-regex'),
    ],
    password: '',
    passwordRules: [
      val => !!val && val.length >= 8 || i18n.t('rules-warrning.password'),
    ],
    street: '',
    streetRules: [
      val => !!val || i18n.t('rules-warrning.street-required'),
      val => val.length >= 3 || i18n.t('rules-warrning.street-min'),
      val => val.length <= 50 || i18n.t('rules-warrning.street-max'),
    ],
    number: '',
    numberRules: [
      val => /^[0-9]*$/.test(val) || i18n.t('rules-warrning.street-num-regex'),
    ],
    city: '',
    cityRules: [
        val => !!val || i18n.t('rules-warrning.city-required'),
        val => val.length >= 3 || i18n.t('rules-warrning.city-min'),
        val => val.length <= 50 || i18n.t('rules-warrning.city-max'),
    ],
    zip: '',
    zipRules: [
        val => !!val || i18n.t('rules-warrning.zip-required'),
        val => /\d{5}$/.test(val) ||  i18n.t('rules-warrning.zip-regex'),
    ],
    country: '',
    countryRulse: [
        val => !!val || i18n.t('rules-warrning.country-required'),
        val => val.length >= 3 || i18n.t('rules-warrning.country-min'),
        val => val.length <= 50 || i18n.t('rules-warrning.country-max'),
    ],
    countryItems: [
      
    ],
    selectedCountry: [],
  }),

  components: {
    Navbar,
    FixedCard,
    SubmitFormButton,
    SecondaryFormButton,
    QuickSettingsBar,
  },

  methods: {
    showButton () { return this.isRegistrationValid == this.terms; },

    changeButtonState () { this.isRegistrationValid = !this.isRegistrationValid; },

    submitRegistrationForm () {
      this.isLoading = !this.isLoading;   

      registerNewAccount({
        user: {
          name: {
            first: this.fname.trim(),
            last: this.lname.trim(),
          },
          email: this.email.trim(),
          phone: this.phone.trim(),
          address: {
              street: this.street.trim(),
              number: this.number,
              city: this.city.trim(),
              zip: this.zip,
              country: this.country.trim()
          },
          role: {
            isStudent: true,
            isLector: false,
            isAdmin: false
          },
          courses: []
        }, 
        password: this.password.trim()
      });

      this.isLoading = !this.isLoading; 
    },

    goBack () {
      this.$router.replace({
        name: this.$route.params.from,
        params: {
          lang: i18n.locale,
          from: this.$route.name,
        }
      });
    }
  }
};
</script>