<template>
    <v-container fluid>
        <navbar/>
        
        <v-container class="card-center" fluid>
            <fixed-card id="card-margin" cardHeight="auto" cardWidth="max(60%, 500px)" :isLoading="isLoading">
                <template #heading>
                    <h1>{{course.name}}</h1>
                </template>

                <template #body>
                    <v-divider></v-divider> 

                    <v-row justify="center" id="card-margin">
                        <v-col class="text-center">
                            <h5 id="card-spacer">{{$t('class.students')}}</h5>
                            <v-data-table
                                :headers="headersStudents"
                                :items="courseStudents"
                                :items-per-page="5"
                                @click:row="removeUser"
                                :footer-props="{
                                    showFirstLastPage: true,
                                    firstIcon: 'mdi-page-first',
                                    lastIcon: 'mdi-page-last',
                                    prevIcon: 'mdi-chevron-left',
                                    nextIcon: 'mdi-chevron-right',
                                    'items-per-page-text': $t('class.students-per-page')
                                }">
                                <template v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }">
                                    {{ pageStart }} - {{ pageStop }} {{ $t('class.of') }} {{ itemsLength }}
                                </template>
                            </v-data-table>
                        </v-col>
                    </v-row>
                </template>

                <template #footer>
                    <secondary-form-button 
                    action="back"
                    btnColor="info"
                    @back="goBack">
                        {{$t('worker-reg.back')}}
                    </secondary-form-button>

                    <v-spacer></v-spacer>

                    <v-hover v-slot="{ hover }">
                        <v-btn
                        id="btn"
                        color="success"   
                        width="max(20vw, 200px)"
                        rounded
                        :x-large="$vuetify.breakpoint.xl" 
                        :large="$vuetify.breakpoint.large"
                        :small="$vuetify.breakpoint.small"
                        :x-small="$vuetify.breakpoint.small"
                        :class="{ 'on-hover': hover}"
                        :elevation="hover ? 8 : 2"
                        :disabled="madeChange"
                        @click="confirmChanges">
                            {{$t('class.confirm')}}
                        </v-btn>
                    </v-hover>
                </template>
            </fixed-card>
        </v-container>
    </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar';
import FixedCard from '../components/cards/FixedCard';
import SecondaryFormButton from '../components/forms/SecondaryFormButton';
import {courses, users, updateCoursesStudents} from '../firebase';
import i18n from '../i18n';

export default {
    data: () => ({
        isLoading: true,
        madeChange: true,
        deleted: [],
        course: [],
        courseStudents: [],
        headersStudents: [
          {
            text: i18n.t('class.student'),
            align: 'start',
            width: '33%',
            value: 'displayName',
          },
          { 
            text: i18n.t('class.email'),
            align: 'start',
            width: '33%',
            value: 'email' 
          },
          { 
            text: 'ID',
            align: 'start',
            width: '34%',
            value: 'id' 
          }
        ],
    }),

    created() {
        courses.forEach((course) => {
            if(course.id == this.$route.params.id){
                this.course = course;

                this.course.students.forEach((student) => {
                    users.forEach((user) => {
                        if(user.id === student)
                            this.courseStudents.push(user);
                    });
                });
            }
        });
        this.isLoading = false;
    },

    methods: {
        removeUser(row) {
            this.madeChange = false;
            for(var i = 0; i < this.courseStudents.length; i++){
                if(this.courseStudents[i].id == row.id){
                    this.deleted.push(this.courseStudents[i].id);
                    this.courseStudents.splice(i, 1);
                }
            }
        },

        confirmChanges() {
            var temp = [];
            for(var i = 0; i < this.courseStudents.length; i++){
                temp.push(this.courseStudents[i].id);
            }

            updateCoursesStudents({
                id: this.$route.params.id,
                payload: temp,
                deleted: this.deleted
            });
        },

        goBack() {
            this.$router.replace({
                name: 'Class',
                params: {
                    lang: i18n.locale,
                    from: this.$route.name,
                }
            });
        }
    },

    components: {
        Navbar,
        FixedCard,
        SecondaryFormButton
    }
}
</script>