<template>
    <v-container fluid>
        <navbar/>
        
        <v-container class="card-center" fluid>
            <fixed-card id="card-margin" cardHeight="auto" cardWidth="max(60%, 500px)" :isLoading="isLoading">
                <template #heading>
                    <h1>{{user.name.first}} {{user.name.last}}</h1>
                </template>

                <template #body>
                    <v-divider></v-divider>  
                    <v-form ref="updateProfileForm" id="card-margin" v-model="isUpdateValid">
                        <v-row>
                            <v-col class="text-start" id="card-margin">
                                <h5>{{$t('profile.contact-info')}}</h5>
                            </v-col>
                            <v-col v-if="!user.role.isStudent" class="text-start" id="card-margin">
                                <h5>{{$t('worker-reg.billing-info')}}</h5>
                            </v-col>
                        </v-row>
                        <v-row justify="start" id="card-margin">
                            <v-col>
                                <v-text-field v-model="phone" :label="$t('student-reg.phone')" :hint="$t('student-reg.phone')" name="phone" prepend-inner-icon="mdi-phone" type="text" color="secodnary" :rules="phoneRules" :success="!!phone" error-count="2" rounded filled solo dense/>
                            </v-col>
                            <v-col>
                                <v-text-field v-if="!user.role.isStudent" v-model="iban" :label="$t('worker-reg.iban')" :hint="$t('worker-reg.iban')" name="iban" prepend-inner-icon="mdi-account-cash" type="text" color="secodnary" :rules="ibanRules" :success="!!iban" error-count="3" rounded filled solo dense/>
                            </v-col>
                        </v-row>
                        <v-col class="text-start" id="card-margin">
                            <h5>{{$t('worker-reg.address')}}</h5>
                        </v-col>
                        <v-row justify="space-around" id="card-margin">
                            <v-col>
                                <v-text-field v-model="street" :label="$t('student-reg.street')" :hint="$t('student-reg.street')" name="street" prepend-inner-icon="mdi-home" type="text" color="secodnary" :rules="streetRules" :success="!!street" error-count="3"  counter rounded filled solo dense/>
                            </v-col>
                            <v-col>
                                <v-text-field v-model="number" :label="$t('student-reg.street-num')" :hint="$t('student-reg.street-num')" name="number" prepend-inner-icon="mdi-home-floor-1" type="number" color="secodnary" :rules="numberRules" :success="!!number" error-count="3" counter rounded filled solo dense/>
                            </v-col>
                            </v-row>
                            <v-row justify="space-around" id="card-margin">
                            <v-col>
                                <v-text-field v-model="city" :label="$t('student-reg.city')" :hint="$t('student-reg.city')" name="city" prepend-inner-icon="mdi-home-city" type="text" color="secodnary" :rules="cityRules" :success="!!city" error-count="3"  counter rounded filled solo dense/>
                            </v-col>
                            <v-col>
                                <v-text-field v-model="zip" :label="$t('student-reg.zip')" :hint="$t('student-reg.zip')" name="zip" prepend-inner-icon="mdi-numeric" type="number" color="secodnary" :rules="zipRules" :success="!!zip" error-count="3"  counter rounded filled solo dense/>
                            </v-col>
                            <v-col>
                                <v-text-field v-model="country" :label="$t('student-reg.country')" :hint="$t('student-reg.country')" name="country" prepend-inner-icon="mdi-city-variant" type="text" color="secodnary" :rules="countryRulse" :success="!!country" error-count="3" counter rounded filled solo dense/>
                            </v-col>
                        </v-row>
                    </v-form>
                </template>

                <template #footer>
                    <secondary-form-button 
                        action="back"
                        btnColor="info"
                        @back="goBack">
                        {{$t('worker-reg.back')}}
                    </secondary-form-button>

                    <v-spacer></v-spacer>

                    <submit-form-button
                        id="update-form"
                        formRef="updateProfileForm"
                        :showButton="!isUpdateValid"
                        @updateProfileForm="updateUsersProfile">
                        {{$t('profile.update')}}
                    </submit-form-button>
                </template>
            </fixed-card>
        </v-container>
    </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar';
import FixedCard from '../components/cards/FixedCard';
import SubmitFormButton from '../components/forms/SubmitFormButton';
import SecondaryFormButton from '../components/forms/SecondaryFormButton';
import {users, updateProfile} from '../firebase';
import i18n from '../i18n';

export default {
    data: () => ({
        isLoading: true,
        isUpdateValid: true, 
        phone: '',
        phoneRules: [
            val => !!val || i18n.t('rules-warrning.mobile-required'),
            val => /\+421.+\d{8}$/.test(val) || i18n.t('rules-warrning.mobile-regex'),
        ],
        street: '',
        streetRules: [
            val => !!val || i18n.t('rules-warrning.street-required'),
            val => val.length >= 3 || i18n.t('rules-warrning.street-min'),
            val => val.length <= 50 || i18n.t('rules-warrning.street-max'),
        ],
        number: '',
        numberRules: [
            val => /^[0-9]*$/.test(val) || i18n.t('rules-warrning.street-num-regex'),
        ],
        city: '',
        cityRules: [
            val => !!val || i18n.t('rules-warrning.city-required'),
            val => val.length >= 3 || i18n.t('rules-warrning.city-min'),
            val => val.length <= 50 || i18n.t('rules-warrning.city-max'),
        ],
        zip: '',
        zipRules: [
            val => !!val || i18n.t('rules-warrning.zip-required'),
            val => /\d{5}$/.test(val) ||  i18n.t('rules-warrning.zip-regex'),
        ],
        country: '',
        countryRulse: [
            val => !!val || i18n.t('rules-warrning.country-required'),
            val => val.length >= 3 || i18n.t('rules-warrning.country-min'),
            val => val.length <= 50 || i18n.t('rules-warrning.country-max'),
        ],
        iban: '',
        ibanRules: [
            val => !!val || i18n.t('rules-warrning.iban-required'),
            val => /[A-Z]{2}\d{2}?\d{4}?\d{4}?\d{4}?\d{4}?[\d]{0,2}/.test(val) ||  i18n.t('rules-warrning.iban-regex'),
            val => val.length <= 24 ||  i18n.t('rules-warrning.iban-regex'),
        ],
        user: {}
    }),

    components: {
        Navbar,
        FixedCard,
        SubmitFormButton,
        SecondaryFormButton,
    },

    created() {
        users.forEach((user) => {
            if(user.id == this.$route.params.id){
                this.user = user;

                this.iban = this.user.iban;
                this.phone = this.user.phone;
                this.street = this.user.address.street;
                this.number = this.user.address.number;
                this.city = this.user.address.city;
                this.zip = this.user.address.zip;
                this.country = this.user.address.country;

                this.isLoading = false;
            }
        });
    },

    methods: {
        goBack() {
            this.$router.replace({
                name: 'Profile',
                params: {
                    lang: i18n.locale,
                    from: this.$route.name,
                    fromID: this.$route.params.id
                }
            });
        },

        updateUsersProfile() {
            this.isLoading = true;
            var data = {};

            if(!this.user.role.isStudent){
                data = {
                    id: this.$route.params.id,
                    payload: {
                        iban: this.iban,
                        phone: this.phone,
                        address: { 
                            street: this.street,
                            number: this.number,
                            city: this.city,
                            zip: this.zip,
                            country: this.country,
                        }
                    }
                }
            }
            else{
                data = {
                    id: this.$route.params.id,
                    payload: {
                        phone: this.phone,
                        address: { 
                            street: this.street,
                            number: this.number,
                            city: this.city,
                            zip: this.zip,
                            country: this.country,
                        }
                    }
                }
            }

            updateProfile(data);
            this.isLoading = false;
        }
    },
}
</script>