<template>
  <v-container fluid>
    <navbar/>

    <v-container class="card-center" fluid>
      <fixed-card id="card-margin" cardHeight="auto" cardWidth="max(60%, 500px)" :isLoading="false">
        <template #heading>
          {{$t('users-list.title')}}
        </template>

        <template #body>
          <v-row id="card-margin">
            <v-col></v-col>
            <v-col lg="6" md="8" sm="10">  
              <v-text-field
              color="secondary"
              v-model="search"
              prepend-inner-icon="mdi-magnify"
              :label="$t('users-list.search')"
              style="font-weight: normal;"
              single-line
              hide-details/>
            </v-col>
            <v-col></v-col>
          </v-row>

          <v-data-table
            id="round-table"
            :headers="headers"
            :items="allUsers"
            :items-per-page="5"
            :search="search"
            @click:row="showProfile"
            :footer-props="{
              showFirstLastPage: true,
              firstIcon: 'mdi-page-first',
              lastIcon: 'mdi-page-last',
              prevIcon: 'mdi-chevron-left',
              nextIcon: 'mdi-chevron-right',
              'items-per-page-text': $t('users-list.users-per-page')
            }">
            <template v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }">
              {{ pageStart }} - {{ pageStop }} {{ $t('users-list.of') }} {{ itemsLength }}
            </template>
            <template v-slot:[`item.roleName`]="{ item }">
              <v-chip
                :color="getColorofUserRole(item.roleName)"
                dark
                style="width: 100%;">
                {{ item.roleName }}
              </v-chip>
            </template>
          </v-data-table>
        </template>

        <template #footer>
          <secondary-form-button 
            action="back"
            btnColor="info"
            @back="goBack">
            {{$t('worker-reg.back')}}
          </secondary-form-button>
        </template>
      </fixed-card>
    </v-container>
  </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar.vue';
import FixedCard from '../components/cards/FixedCard';
import SecondaryFormButton from '../components/forms/SecondaryFormButton';
import {users, db} from '../firebase';
import i18n from '../i18n';

export default {
  name: "UsersList",

  data: () => ({
    search: '',
    headers: [
      {
        text: i18n.t('users-list.user'),
        align: 'start',
        value: 'displayName',
      },
      { 
        text: i18n.t('users-list.id'),
        value: 'id' 
      },
      { 
        text: i18n.t('users-list.email'),
        value: 'email' 
      },
      { 
        text: i18n.t('users-list.role'),
        value: 'roleName'
      }
    ],
    allUsers: [],
  }),

  components: {
    Navbar,
    FixedCard,
    SecondaryFormButton,
  },

  created() {
    users.forEach((user) => {
      this.allUsers.push(user);
    })
  },

  methods: {
    getColorofUserRole (role) {
      if (role == i18n.t('firebase.student')) return '#95C623'
      else if (role == i18n.t('firebase.lector')) return '#F26419'
      else return '#9E0031'
    },

    showProfile(row) {
      this.$router.replace({
        name: 'Profile',
        params: {
            lang: i18n.locale,
            id: row.id,
            from: this.$route.name
        }
      });
    },

    goBack () {
      this.$router.replace({
        name: 'Administration',
        params: {
          lang: i18n.locale,
          id: db.auth().currentUser.uid,
          from: this.$route.name,
        }
      });
    }
  },
}
</script>