<template>
  <v-container class="card-center" fluid>
      <fixed-card cardHeight="auto" cardWidth="max(30%, 300px)" :isLoading="isLoading">
        <template #heading>
          <h1>
              {{$t('welcome.title')}}
          </h1>
        </template>

        <template #body>
          <quick-settings-bar id="quick-margin" iconSize="24px" themeSize="28px"/>
          <v-form ref="loginForm" v-model="isLoginValid">
            <v-text-field v-model="email" :label="$t('welcome.email')" :hint="$t('welcome.email')" name="email" prepend-inner-icon="mdi-email" type="text" color="secodnary" :rules="emailRules" error-count="3" rounded filled solo dense/>
            <v-text-field v-model="password" :label="$t('welcome.password')" :hint="$t('welcome.password')" name="password" prepend-inner-icon="mdi-lock" :type="showPassword ? 'text' : 'password'" color="secodnary" counter :rules="passwordRules" error-count="1" rounded filled solo dense :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" @click:append="showPassword = !showPassword"/>
          </v-form>
          <v-row id="quick-margin" justify="center">
            <submit-form-button
              id="submit-form"
              formRef="loginForm"
              :showButton="!isLoginValid"
              @loginForm="login">
              {{$t('welcome.login-btn')}}
            </submit-form-button>
          </v-row>
          
          <reset-password-form :isVisible="passwordForgotten" @hideResetForm="hideResetForm"></reset-password-form>
        </template>

        <template #footer>
          <v-row justify="space-around" id="card-margin">
            <secondary-form-button 
              id="registration"
              action="registration"
              btnColor="info"
              @registration="transferToRegistration">
              {{$t('welcome.reg-btn')}}
            </secondary-form-button>
            <secondary-form-button
              id="reset"
              action="passwordReset"
              btnColor="warning"
              @passwordReset="resetPassword">
              {{$t('welcome.reset-btn')}}
            </secondary-form-button>
          </v-row>
        </template>
      </fixed-card>
    </v-container>
</template>

<script>
import FixedCard from '../components/cards/FixedCard';
import SubmitFormButton from '../components/forms/SubmitFormButton';
import SecondaryFormButton from '../components/forms/SecondaryFormButton';
import QuickSettingsBar from '../components/navigation/QuickSettingsBar.vue';
import {loginUser} from '../firebase';
import i18n from '../i18n';
import ResetPasswordForm from '../components/forms/ResetPasswordForm.vue';

export default {
  name: "Welcome",

  data: () => ({
    showPassword: false,
    isLoginValid: true,
    passwordForgotten: false,
    isLoading: false,
    email: '',
    emailRules: [
        val => !!val || i18n.t('rules-warrning.email-required'),
        val => /.+@.+/.test(val) || i18n.t('rules-warrning.email-regex'),
    ],
    password: '',
    passwordRules: [
        val => !!val && val.length >= 8 || i18n.t('rules-warrning.password'),
    ],
  }),

  components: {
    FixedCard,
    SubmitFormButton,
    SecondaryFormButton,
    QuickSettingsBar,
    ResetPasswordForm,
  },

  methods: {
    changeButtonState () { this.isLoginValid = !this.isLoginValid; },

    hideResetForm () { this.passwordForgotten = !this.passwordForgotten; },
    
    resetPassword () { this.passwordForgotten = !this.passwordForgotten; },

    login () { 
      this.isLoading = !this.isLoading;
      loginUser({email: this.email.trim(), password: this.password.trim()});
      this.isLoading = !this.isLoading;
    },

    transferToRegistration () {
      this.$router.replace({
        name: 'StudentRegistration',
        params: {
          lang: i18n.locale,
          from: this.$route.name
        }
      });
    },
  },
};
</script>