<template>
  <v-container fluid>
    <navbar/>
    
    <v-container class="card-center" fluid>
      <fixed-card id="card-margin" cardHeight="auto" cardWidth="max(60%, 500px)" :isLoading="isLoading">
        <template #heading>
          <h1>
              {{$t('worker-reg.title')}}
          </h1>
        </template>

        <template #body>
          <v-row justify="center">
            <v-col class="text-center">
              <p>{{$t('student-reg.required')}}</p>
              <p>{{$t('worker-reg.double-req')}}</p>
            </v-col>
          </v-row>
          <v-form ref="registerForm" id="card-margin" v-model="isRegistrationValid">
            <v-col class="text-start" id="card-margin">
              <h5>{{$t('worker-reg.personal-info')}}</h5>
            </v-col>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-text-field v-model="fname" :label="$t('worker-reg.first-name')+' '+$t('student-reg.*')" :hint="$t('worker-reg.first-name')" name="fname" prepend-inner-icon="mdi-account" type="text" color="secodnary" :rules="fnameRules" :success="!!fname" error-count="3"  counter rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="lname" :label="$t('worker-reg.last-name')+' '+$t('student-reg.*')" :hint="$t('worker-reg.last-name')" name="lname" prepend-inner-icon="mdi-account" type="text" color="secodnary" :rules="lnameRules" :success="!!lname" error-count="3" counter rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="nid" :label="$t('worker-reg.nid')+' '+$t('student-reg.*')" :hint="$t('worker-reg.nid')" name="nid" prepend-inner-icon="mdi-numeric" type="text" color="secodnary" :rules="nidRules" :success="!!nid" error-count="2"  counter rounded filled solo dense/>
              </v-col>
            </v-row>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-text-field v-model="phone" :label="$t('worker-reg.phone')+' '+$t('student-reg.*')" :hint="$t('worker-reg.phone')" name="phone" prepend-inner-icon="mdi-phone" type="text" color="secodnary" :rules="phoneRules" :success="!!phone" error-count="2" rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="email" :label="$t('worker-reg.email')+' '+$t('student-reg.*')" :hint="$t('worker-reg.email')" name="email" prepend-inner-icon="mdi-email" type="text" color="secodnary" :rules="emailRules" :success="!!email" error-count="2" rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="password" :label="$t('worker-reg.password')+' '+$t('student-reg.*')" :hint="$t('worker-reg.password')" name="password" prepend-inner-icon="mdi-lock" :type="showPassword ? 'text' : 'password'" color="secodnary" :rules="passwordRules" :success="!!password" error-count="1" counter rounded filled solo dense :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" @click:append="showPassword = !showPassword"/>
              </v-col>
            </v-row>
            
            <v-col class="text-start" id="card-margin">
              <h5>{{$t('worker-reg.address')}}</h5>
            </v-col>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-text-field v-model="street" :label="$t('worker-reg.street')+' '+$t('student-reg.*')" :hint="$t('worker-reg.street')" name="street" prepend-inner-icon="mdi-home" type="text" color="secodnary" :rules="streetRules" :success="!!street" error-count="3"  counter rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="number" :label="$t('worker-reg.street-num')" :hint="$t('worker-reg.street-num')" name="number" prepend-inner-icon="mdi-home-floor-1" type="number" color="secodnary" :rules="numberRules" :success="!!number" error-count="3" counter rounded filled solo dense/>
              </v-col>
            </v-row>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-text-field v-model="city" :label="$t('worker-reg.city')+' '+$t('student-reg.*')" :hint="$t('worker-reg.city')" name="city" prepend-inner-icon="mdi-home-city" type="text" color="secodnary" :rules="cityRules" :success="!!city" error-count="3"  counter rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="zip" :label="$t('worker-reg.zip')+' '+$t('student-reg.*')" :hint="$t('worker-reg.zip')" name="zip" prepend-inner-icon="mdi-numeric" type="text" color="secodnary" :rules="zipRules" :success="!!zip" error-count="3"  counter rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-text-field v-model="country" :label="$t('worker-reg.country')+' '+$t('student-reg.*')" :hint="$t('worker-reg.country')" name="country" prepend-inner-icon="mdi-city-variant" type="text" color="secodnary" :rules="countryRulse" :success="!!country" error-count="3" counter rounded filled solo dense/>
              </v-col>
            </v-row>

            <v-row justify="start" id="card-margin">
              <v-col>
                <h5>{{$t('worker-reg.billing-info')+' '+$t('student-reg.*')}}</h5>
              </v-col>
              <v-col>
                <h5>{{$t('worker-reg.languages')+' '+$t('student-reg.*')+$t('student-reg.*')}}</h5>
              </v-col>
            </v-row>
            <v-row justify="space-around" id="card-margin">
              <v-col>
                <v-text-field v-model="iban" :label="$t('worker-reg.iban')" :hint="$t('worker-reg.iban')" name="iban" prepend-inner-icon="mdi-account-cash" type="text" color="secodnary" :rules="ibanRules" :success="!!iban" error-count="3" rounded filled solo dense/>
              </v-col>
              <v-col>
                <v-select 
                  :disabled="!isLector"
                  v-model="languageValues"
                  :items="languageItems"
                  chips
                  deletable-chips
                  hide-selected
                  :label="$t('worker-reg.languages')"
                  multiple 
                  solo
                  dense
                  rounded/>
              </v-col>
            </v-row>

            <v-row justify="start" id="card-margin">
              <v-col>
                <h5>{{$t('worker-reg.position')+' '+$t('student-reg.*')}}</h5>
                <v-checkbox
                  color="success"
                  v-model="isLector"
                  :success="isLector"
                  :label="$t('worker-reg.lector')"/>
                <v-checkbox
                  color="success"
                  v-model="isAdmin"
                  :success="isAdmin"
                  :label="$t('worker-reg.admin')"/>
              </v-col>
            </v-row>
          </v-form>
          <v-row justify="center">
            <submit-form-button
              formRef="registerForm"
              :showButton="!isRegistrationValid"
              @registerForm="submitRegistrationForm">
              {{$t('worker-reg.reg-btn')}}
            </submit-form-button>
          </v-row>
        </template>

        <template #footer>
          <secondary-form-button 
            action="back"
            btnColor="info"
            @back="goBack">
            {{$t('worker-reg.back')}}
          </secondary-form-button>
        </template>
      </fixed-card>
    </v-container>
  </v-container>
</template>

<script>
import Navbar from '../components/navigation/Navbar';
import FixedCard from '../components/cards/FixedCard';
import SubmitFormButton from '../components/forms/SubmitFormButton';
import SecondaryFormButton from '../components/forms/SecondaryFormButton';
import {registerNewAccount, db} from '../firebase';
import i18n from '../i18n';

export default {
  name: "WorkerRegistration",

  data: () => ({
    showPassword: false,
    isRegistrationValid: true,
    isLoading: false,
    languageItems: ['SK', 'EN', 'FR', 'ES', 'IT'],
    languageValues: [],
    fname: '',
    fnameRules: [
      val => !!val || i18n.t('rules-warrning.first-name-required'),
      val => val.length >= 3 || i18n.t('rules-warrning.first-name-min'),
      val => val.length <= 50 || i18n.t('rules-warrning.first-name-max'),
    ],
    lname: '',
    lnameRules: [
      val => !!val || i18n.t('rules-warrning.last-name-required'),
      val => val.length >= 3 || i18n.t('rules-warrning.last-name-min'),
      val => val.length <= 50 || i18n.t('rules-warrning.last-name-max'),
    ],
    nid: '',
    nidRules: [
      val => !!val || i18n.t('rules-warrning.nid-required'),
      val => /\d{10}$/.test(val) || i18n.t('rules-warrning.nid-regex'),
      val => val.length <= 10 || i18n.t('rules-warrning.nid-regex'),
    ],
    phone: '',
    phoneRules: [
      val => !!val || i18n.t('rules-warrning.mobile-required'),
      val => /\+421.+\d{8}$/.test(val) || i18n.t('rules-warrning.mobile-regex'),
      val => val.length <= 13 || i18n.t('rules-warrning.mobile-length'),
    ],
    email: '',
    emailRules: [
      val => !!val || i18n.t('rules-warrning.email-required'),
      val => /.+@.+\.+/.test(val) || i18n.t('rules-warrning.email-regex'),
    ],
    password: '',
    passwordRules: [
      val => !!val && val.length >= 8 || i18n.t('rules-warrning.password'),
    ],
    street: '',
    streetRules: [
      val => !!val || i18n.t('rules-warrning.street-required'),
      val => val.length >= 3 || i18n.t('rules-warrning.street-min'),
      val => val.length <= 50 || i18n.t('rules-warrning.street-max'),
    ],
    number: '',
    numberRules: [
      val => /^[0-9]*$/.test(val) || i18n.t('rules-warrning.street-num-regex'),
    ],
    city: '',
    cityRules: [
        val => !!val || i18n.t('rules-warrning.city-required'),
        val => val.length >= 3 || i18n.t('rules-warrning.city-min'),
        val => val.length <= 50 || i18n.t('rules-warrning.city-max'),
    ],
    zip: '',
    zipRules: [
        val => !!val || i18n.t('rules-warrning.zip-required'),
        val => /\d{5}$/.test(val) ||  i18n.t('rules-warrning.zip-regex'),
        val => val.length <= 5 ||  i18n.t('rules-warrning.zip-regex'),
    ],
    country: '',
    countryRulse: [
        val => !!val || i18n.t('rules-warrning.country-required'),
        val => val.length >= 3 || i18n.t('rules-warrning.country-min'),
        val => val.length <= 50 || i18n.t('rules-warrning.country-max'),
    ],
    iban: '',
    ibanRules: [
      val => !!val || i18n.t('rules-warrning.iban-required'),
      val => /[A-Z]{2}\d{2}?\d{4}?\d{4}?\d{4}?\d{4}?[\d]{0,2}/.test(val) ||  i18n.t('rules-warrning.iban-regex'),
      val => val.length <= 24 ||  i18n.t('rules-warrning.iban-regex'),
    ],
    isLector: false,
    isAdmin: false,
  }),

  components: {
    Navbar,
    FixedCard,
    SubmitFormButton,
    SecondaryFormButton,
  },

  methods: {
    showButton () { return this.isRegistrationValid == this.terms; },

    changeButtonState () { this.isRegistrationValid = !this.isRegistrationValid; },

    submitRegistrationForm () {
      this.isLoading = !this.isLoading;

      if(!this.isLector) this.languageValues = [];

      registerNewAccount({
        user: {
         name: {
            first: this.fname.trim(),
            last: this.lname.trim(),
          },
          nid: this.nid,
          email: this.email.trim(),
          phone: this.phone.trim(),
          address: {
              street: this.street.trim(),
              number: this.number,
              city: this.city.trim(),
              zip: this.zip,
              country: this.country.trim()
          },
          iban: this.iban,
          languages: this.languageValues,
          role: {
            isStudent: false,
            isLector: this.isLector,
            isAdmin: this.isAdmin
          },
          courses: []
        }, 
        password: this.password.trim()
      });
      this.isLoading = !this.isLoading;
    },

    goBack () {
      this.$router.replace({
        name: 'Administration',
        params: {
          lang: i18n.locale,
          id: db.auth().currentUser.uid,
          from: this.$route.name,
        }
      });
    }
  }
};
</script>