<template>
    <v-overlay :value="show">
        <v-row justify="space-around">
            <v-btn
                fab
                small
                color="info"
                @click="prev">
                <v-icon small>
                    mdi-chevron-left
                </v-icon>
            </v-btn>
            <v-btn 
                @click="hideCalendar"
                rounded
                color="error">
                {{$t('settings.close')}}
            </v-btn>
            <v-btn
                fab
                small
                color="info"
                @click="next">
                <v-icon small>
                    mdi-chevron-right
                </v-icon>
            </v-btn>
        </v-row>
        <v-row justify="center" id="card-margin">
            <v-toolbar-title>
                <h3>{{ month }}</h3>
            </v-toolbar-title>
        </v-row>
        <v-sheet min-height="400px" :height="calendarHeight" min-width="200px" :width="calendarWidth">
            <slot name="cal"/>
        </v-sheet>
    </v-overlay>
</template>

<script>
export default {
    props: {
        'calendarHeight': {
            type: String,
            default: 'auto',
            required: true,
        },

        'calendarWidth': {
            type: String,
            default: 'auto',
            required: true,
        },

        'show': {
            type: Boolean,
            default: false,
            required: true,
        },

        'month': {
            type: String,
            default: '',
            required: false,
        }
    },

    methods: {
        hideCalendar () {
            this.$emit('hideCalendar');
        },

        prev () {
            this.$emit('prevMonth');
        },

        next () {
            this.$emit('nextMonth');
        },
    }
}
</script>