<template>
  <v-dialog
    v-model="isVisible"
    overlay-opacity=".75"
    width="45%"
    @click:outside="close"
    @keydown.esc="close">
    <v-card>
      <v-card-title>
        <h1>
          {{$t('reset-password.title')}}
        </h1>
      </v-card-title>

      <v-card-text>
          <v-divider></v-divider>
          {{$t('reset-password.message')}}
      </v-card-text>

      <v-card-text class="text-center">
          <v-form ref="resetForm" v-model="isResetValid">
              <v-text-field v-model="email" :label="$t('welcome.email')" :hint="$t('welcome.email')" name="email" prepend-inner-icon="mdi-email" type="text" color="secodnary" :rules="emailRules" error-count="3" rounded filled solo dense/>
          </v-form>

          <v-btn
              color="success"
              text
              rounded
              :disabled="!isResetValid"
              @click="sendRequest">
              {{$t('reset-password.send')}}
          </v-btn>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import i18n from '../../i18n';
import {resetPassword} from '../../firebase';

export default {
    data: () => ({
        isResetValid: true,
        email: '',
        emailRules: [
            val => !!val || i18n.t('rules-warrning.email-required'),
            val => /.+@.+/.test(val) || i18n.t('rules-warrning.email-regex'),
        ],
    }),

    methods: {
        sendRequest () {
          resetPassword({email: this.email});
        },

        close() {
          this.$emit('hideResetForm');
        },
    },

    props: {
        'isVisible': {
            type: Boolean,
            default: false,
            required: true
        }
    }
}
</script>