<template>
    <v-hover v-slot="{ hover }">
        <v-btn id="btn"
            :color="btnColor"   
            width="auto"
            rounded
            text
            :small="$vuetify.breakpoint.large"
            :x-small="$vuetify.breakpoint.smAndDown"
            :class="{ 'on-hover': hover}"
            :elevation="hover ? 4 : 2"
            @click="takeAction(action)">
            <slot></slot>
        </v-btn>
    </v-hover>
</template>

<script>
export default {
    props: {
        'action': {
            type: String,
            default: '',
            required: true,            
        },

        'btnColor': {
            type: String,
            default: 'info',
            required: true,            
        },
    },

    methods: {
        takeAction (action) {
            this.$emit(action);
        }
    },
}
</script>

<style lang="scss">
#btn{
    margin: 1vw 1vw;
}
</style>