<template>
    <v-hover v-slot="{ hover }">
        <v-btn id="btn"
            color="success"   
            width="max(20vw, 200px)"
            rounded
            :x-large="$vuetify.breakpoint.xl" 
            :large="$vuetify.breakpoint.large"
            :small="$vuetify.breakpoint.small"
            :x-small="$vuetify.breakpoint.small"
            :class="{ 'on-hover': hover}"
            :elevation="hover ? 8 : 2"
            :disabled="showButton"
            @click="submitRequiredForm(formRef)">
            <slot></slot>
        </v-btn>
    </v-hover>
</template>

<script>
export default {
    props: {
        'formRef': {
            type: String,
            default: '',
            required: true,            
        },
        'showButton': {
            type: Boolean,
            default: false,
            required: true,            
        },
    },

    methods: {
        submitRequiredForm (formRef) {
            this.$emit(formRef);
        }
    },
}
</script>

<style lang="scss">
#btn{
    margin: 1vw 1vw;
}
</style>