<template>
  <v-app>
    <v-main>
      <router-view :key="$router.fullPath"/>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'App',

  data: () => ({}),
};
</script>

<style lang="scss">
@import '@/assets/style/text.scss';
@import '@/assets/style/card.scss';
@import '@/assets/style/table.scss';
</style>


