<template>
    <v-hover v-slot="{ hover }">
        <v-card 
            style="border-radius: max(2vw, 20px)"
            :elevation="hover ? onHoverElevation : offHoverElevation"
            :class="{ 'on-hover': hover }"
            :height="cardHeight"
            :width="cardWidth"
            :disabled="disabled"
            @click="emitRequiredAction(clickEvent)">
                <v-card-title class="justify-center">
                    <slot name="heading"></slot>
                </v-card-title>
                <v-card-text>
                    <slot name="body"></slot>
                </v-card-text>
        </v-card>
    </v-hover>
</template>

<script>
export default {
    props: {
        'cardHeight': {
            type: String,
            default: '2.5vw',
            required: true,
        },

        'cardWidth': {
            type: String,
            default: '5vw',
            required: true,
        },
        
        'onHoverElevation': {
            type: Number,
            default: 0,
            required: true,
        },
        
        'offHoverElevation': {
            type: Number,
            default: 0,
            required: true,
        },

        'clickEvent': {
            type: String,
            default: '',
            required: true,            
        },

        'disabled': {
            type: Boolean,
            default: false,
            required: false,        }
    },

    methods: {
        emitRequiredAction (clickEvent) {
            this.$emit(clickEvent);
        }
    },
}
</script>