<template>
    <v-card 
        class="elevation-4"
        style="border-radius: max(2vw, 20px)"
        :height="cardHeight"
        :width="cardWidth"
        :color="cardColor"
        :loading="isLoading">
            <template slot="progress">
                <v-progress-linear color="warning" indeterminate></v-progress-linear>
            </template>
            
            <v-card-title class="justify-center">
                <h1 id="card-margin">
                    <slot name="heading"></slot>
                </h1>
            </v-card-title>

            <v-card-text>
                <slot name="body"></slot>
            </v-card-text>

            <v-card-actions>
                <slot name="footer"></slot>
            </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: {
        'cardHeight': {
            type: String,
            default: 'auto',
            required: true,
        },

        'cardWidth': {
            type: String,
            default: '5vw',
            required: true,
        },

        'cardColor': {
            type: String,
            default: 'primary',
            required: false,
        },

        'isLoading': {
            type: Boolean,
            default: false,
            required: false,
        }
    },
}
</script>

<style lang="scss">
.margin{
    margin: 1% 1%;
}
</style>