.card-center{
  height: 100%;
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-start{
  float: left;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.administration {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  align-content: center;
}
  
#card-margin{
  margin: 1% 1%;
}
  
#card-spacer{
  margin-bottom: 3%;
  margin-top: 1%;
}

#quick-margin{
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5%;
}