h1{
    font-family: unquote('Roboto'), sans-serif;
    font-size: max(4vw, 28px);
    font-weight: 100;
    padding: .5vw 0;
}

h2{
    font-family: unquote('Roboto'), sans-serif;
    font-size: max(3.5vw, 26px);
    font-weight: 200;
    padding: .45vw 0;
}

h3{
    font-family: unquote('Roboto'), sans-serif;
    font-size: max(3vw, 24px);
    font-weight: 300;
    padding: .4vw 0;
}

h4{
    font-family: unquote('Roboto'), sans-serif;
    font-size: max(2.5vw, 20px);
    font-weight: 300;
    padding: .35vw 0;
}

h5{
    font-family: unquote('Roboto'), sans-serif;
    font-size: max(2vw, 18px);
    font-weight: 400;
    padding: .3vw 0;
}

h6{
    font-family: unquote('Roboto'), sans-serif;
    font-size: max(1.5vw, 16px);
    font-weight: 500;
    padding: .25vw 0;
}

.forms{
    font-family: unquote('Roboto'), sans-serif;
    font-size: max(1.25vw, 14px);
    font-weight: normal;
    padding: .2vw 0;
}

p{
    font-family: unquote('Roboto'), sans-serif;
}